.background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: auto; /* Ensure canvas is interactive */
}

.hero-header {
  position: relative;
  z-index: 2;
  pointer-events: none; /* Disable interactions for the container */
}

#hero-link-01,
#hero-link-02 {
  pointer-events: auto; /* Enable interactions for links specifically */
}
