/* Modal Animations */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Form Styling */
.contact-form {
  padding: 2rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  border-radius: 10px;

  max-width: 450px;
  margin: 0 auto;
}

.contact-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--color-accent);
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-neutral-200);
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="checkbox"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-neutral-400);
  border-radius: 8px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--color-neutral-700);
  color: var(--color-white);
}

.form-group input:focus {
  border-color: var(--color-accent);
  outline: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.checkbox-label:hover {
  color: var(--color-accent);
}

.checkbox-label input {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.error {
  color: var(--color-error);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.submit-button {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-neutral);
  border: none;
  border-radius: 8px;
  color: var(--color-bg);
  font-size: 1.2rem;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  background-color: var(--color-accent);
  transform: translateY(-2px);
}

.submit-button:active {
  transform: translateY(0);
}

/* Close Button */
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
  background-color: unset !important;
  backdrop-filter: unset !important;
}

.modal-close:hover {
  color: var(--color-accent);
  transform: rotate(90deg);
  background-color: unset !important;
}

/* Toast Message */
.toast-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--color-bg);
  z-index: 1000;
  font-size: 16px;
  animation: fadeInOut 4s ease-in-out;
  z-index: 10000;
}

.toast-message.success {
  background-color: var(--color-accent); /* Green */
}

.toast-message.error {
  background-color: var(--color-primary); /* Red */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.contact-form-text {
  font-size: 1.5rem !important;
}
.PhoneInputCountryIconImg,
.PhoneInputCountryIcon,
.PhoneInputCountryIcon--border {
  border-radius: 0.1em;
}
.fancy-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.fancy-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.fancy-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fancy-checkbox:hover .checkmark {
  border-color: var(--color-accent);
}

.fancy-checkbox input:checked ~ .checkmark {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.fancy-checkbox input:checked ~ .checkmark::after {
  content: "X";
  color: var(--color-bg);
  font-size: 14px;
}

.fancy-checkbox:hover {
  color: var(--color-accent);
}

.form-group input[type="checkbox"] {
  width: fit-content;
  margin-right: 1em;
}
