.device-container {
  width: 100%;
  max-width: 1200px; /* Set max width for responsiveness */
  margin: 0 auto;
  position: relative;
}

.overlay-device-image {
  width: 100%;
  padding-top: 56.8%; /* Maintain the aspect ratio of the MacBook image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.single-image {
  position: absolute;
  top: 3%;
  left: 11.3%;
  width: 77.6%;
  height: 86%;
  overflow: hidden;
  border-radius: 0.3em;
}

.video-overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.simple-player {
  overflow: hidden;
  border-radius: 0.3em;
}
