:root {
  --color-bg: #131312;
  --color-text: #fff;
  --color-accent: #d8ff00;
  --color-neutral: #e3e1dd;
  --color-red: #ff4b24;

  --color-black: var(--color-neutral-900);
  --color-neutral-200: #efeeec;
  --color-light: var(--color-neutral-200);
  --color-dark: var(--color-neutral-800);
  --container-padding: 2em;
  --color-neutral-900: black;
  --color-neutral-300: #e3e1de;
  --color-neutral-400: #cbc8c5;
  --color-neutral-600: #2c2c2c;
  --color-neutral-500: #818180;
  --dash-side-width: 18.5em;
  --color-neutral-800: #131313;
  --dash-top-height: 6.5em;
  --color-neutral-700: #1f1f1f;
  --color-primary: #ff4c24;
  --color-neutral-100: white;
  --color-white: var(--color-neutral-100);
  --color-error: var(--color-primary);
  --color-success: #0ba954;
  --gap-size: 1rem;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-accent);
}

::-moz-selection {
  color: var(--color-bg);
  background-color: var(--color-accent);
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 300;
  src: url("/assets/fonts/PPNeueMontreal-Book.woff") format("truetype");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 500;
  src: url("/assets/fonts/PPNeueMontreal-Medium.woff") format("truetype");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 700;
  src: url("/assets/fonts/PPNeueMontreal-Bold.woff") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PPNeueMontreal";
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 3.75em;
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 1.55em;
  line-height: 1.45;
}

h3 {
  font-size: 1.75em;
  font-style: normal;
  font-size: 1.55em;
  line-height: 1.45;
}

p,
a,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--color-text);
  font-size: 12px;
  font-weight: lighter;
  line-height: 125%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  padding: 0.75em 1.25em;
  font-size: 12px;
  color: var(--color-text);
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 2em;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-size: 22px;
}

.container {
  width: 100%;
  height: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 0.5em 0;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2em;
  }
}
