.project {
  width: 100%;
  height: 100%;
}

.project-hero-img,
.project-hero-img-2 {
  width: 100%;
  height: 75vh;
}

.project-hero-img-3 {
  width: 100%;
  height: 100vh;
}

.project-info {
  width: 100%;
  padding: 1.5em;
  display: flex;
  gap: 1em;
}

.project-info .col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.project-info .col > div {
  flex: 1;
}

.project-info .col:nth-child(2) p {
  text-align: right;
}

.project-copy {
  width: 100%;
  padding: 8em 1.5em;
  display: flex;
  gap: 1em;
}

.project-copy .col {
  flex: 1;
}

.project-copy .col p {
  font-size: 22px;
}

.project-sub-info {
  display: flex;
  gap: 1em;
  margin: 2em 0;
  justify-content: space-between;
}

.project-sub-info .sub-col {
  display: flex;
  gap: 1em;
}

.project-imgs {
  width: 100%;
  padding: 0 1.5em;
  display: flex;
  gap: 1.5em;
}

.img {
  width: 100%;
  aspect-ratio: 5 / 4;
  padding-bottom: 1.5em;
}

.next-project-cta {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .project-info,
  .project-info .col,
  .project-sub-info,
  .project-sub-info .sub-col {
    flex-direction: column;
  }

  .project-info .col:nth-child(2) p {
    text-align: left;
  }

  .project-copy {
    flex-direction: column;
  }

  .project-imgs {
    flex-direction: column;
  }
}

.project-copy h2 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.project-copy p {
  color: var(--color-neutral-500);
}

.project h1 {
  max-width: 12ch;
}
:root {
  --section-padding: clamp(5em, 21vh, 12em);
}
@media screen and (max-width: 1200px) {
  :root {
    --container-padding: 6vw;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --section-padding: 12vh;
  }
}
.section {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
}

.simple-player {
  max-width: 1100px;
}

.sub-col .nav-link {
  padding: 0.75em 1.25em;
}

.section {
  padding: 8em 1.5em;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: calc(100% - 5 * var(--swiper-scrollbar-sides-offset, 5%)) !important;
  left: var(--swiper-scrollbar-sides-offset, 12.5%) !important;
}

@media only screen and (max-width: 768px) {
  .project-hero-img,
  .project-hero-img-2 {
    height: 50vh;
  }

  .project-copy {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .project .container {
    padding: 0;
  }
}

.slider {
  margin-bottom: 5em;
}

/*NEXT PROJECT*/

.next-project-cta {
  text-align: center;
  padding: 1.5em;
}

.next-project-preview {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.next-project-preview img {
  max-width: 800px;
  height: auto;
  border-radius: 0.3em;
  transition: transform 0.55s cubic-bezier(0.65, 0.05, 0, 1);
}

.next-project-preview h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

.next-project-preview:hover img {
  transform: scale(0.8);
}

/*PROJECT SPECIFIC CSS*/

#physis-massage > div > section:nth-child(5),
#physis-massage > div > section.section.mobiles-screens {
  background-color: #e3cda6 !important;
}
#physis-massage .swiper-button-prev,
.swiper-button-next {
  background-color: #e3cda6 !important;
}

#efrosini-goudi > div > section:nth-child(5),
#efrosini-goudi > div > section.section.mobiles-screens {
  background-color: #d7d0c1 !important;
}

#efrosini-goudi .swiper-button-prev,
.swiper-button-next {
  background-color: #d7d0c1 !important;
}
