.project {
  width: 100%;
  height: 100%;
}

.project-hero-img,
.project-hero-img-2 {
  width: 100%;
  height: 75vh;
}

.project-hero-img-3 {
  width: 100%;
  height: 100vh;
}

.project-info {
  width: 100%;
  padding: 1.5em;
  display: flex;
  gap: 1em;
}

.project-info .col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.project-info .col > div {
  flex: 1;
}

.project-info .col:nth-child(2) p {
  text-align: right;
}

.project-copy {
  width: 100%;
  padding: 8em 1.5em;
  display: flex;
  gap: 1em;
}

.project-copy .col {
  flex: 1;
}

.project-copy .col p {
  font-size: 22px;
}

.project-sub-info {
  display: flex;
  gap: 1em;
  margin: 2em 0;
  justify-content: space-between;
}

.project-sub-info .sub-col {
  display: flex;
  gap: 1em;
}

.project-imgs {
  width: 100%;
  padding: 0 1.5em;
  display: flex;
  gap: 1.5em;
}

.img {
  width: 100%;
  aspect-ratio: 5 / 4;
  padding-bottom: 1.5em;
}

.next-project-cta {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .project-info,
  .project-info .col,
  .project-sub-info,
  .project-sub-info .sub-col {
    flex-direction: column;
  }

  .project-info .col:nth-child(2) p {
    text-align: left;
  }

  .project-copy {
    flex-direction: column;
  }

  .project-imgs {
    flex-direction: column;
  }
}
